#card{
    width: 37rem;
    padding: 40px !important;
}

#form{
    /* background: rgba(6, 117, 71, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center !important;
    gap: 1.5rem;
    color: #606060;
    margin-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-opcao {
    padding: 10px;
    width: 13rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #000000;
    color:#8178D4;
    text-align: center;
    box-shadow: -5px 5px 4px 0px rgba(120, 71, 172, 0.25);
}


@media (max-width: 1400px)
{
    #card { width: 31rem; }
    
    .btn-opcao
    {
        font-size: 16px;
        padding: 8px;
        width: 10rem;
    }

}
