<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/styleCadastro-opcoes.css">
        <title> Agendar Consulta</title>
    </head>
    <body>
        <nav>
            <div id="nav-logo">Logo</div>
            <div id="nav-menu">
                <a href="opcoes-de-cadastro.html">cadastrar</a>
                <a href="../agendar/form-agendar-consulta.html">agendar consulta</a>
                <a href="../gestao-horario/gestao-horario.php">gestão de horários</a>
            </div>
            <a href="#" id="nav-login">Login</a>
        </nav>

        <section>
            <div id="card">
                <h1> O Que Você Deseja Cadastrar? </h1>
                <div id="form">
                    <a class="btn-opcao" href="cadastrar-medicos.php">MÉDICOS</a>
                    <a class="btn-opcao" href="cadastrar-especialidade.php">ESPECIALIDADES</a>
                    <a class="btn-opcao" href="cadastrar-pacientes.html">PACIENTES</a>
                </div>
            </div>
        </section>


        <script src="../../assets/js/script.js"></script>
    </body>
</html>